// Display.scss

.container {
    padding: 1rem;

    h1 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .layers-wrapper {
        display: flex;
        gap: 1rem;

        .layer {
            flex: 1;
            border: 1px solid black;
            padding: 0.5rem;
            box-sizing: border-box;
            position: relative;
            overflow: hidden;
            height: 500px;
            &:first-child {
                margin-right: 0.5rem;
            }
        }
    }
}


.toolbar {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    
    button {
        &.active {
            background-color: #004647;
        }
    }
}

.annotation-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    margin-top: 15px;
  
    button {
      padding: 10px 15px;
      background-color: #a1780a; /* Muted Blue-Gray Color */
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;
  
      &:hover {
        background-color: #495057; /* Darker Shade on Hover */
      }
      
    }
  }

.parameter {
    border: 1px solid #AAA;  /* Bordure de 1 pixel solide en couleur grise */
    padding: 16px;           /* Espace intérieur de 16 pixels */
    margin-top: 16px;        /* Marge supérieure de 16 pixels pour l'éloigner des autres éléments */
    border-radius: 8px;      /* Coins arrondis */
}

// displays.scss
.annotation-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

    th, td {
        border: 1px solid #ddd;
        padding: 12px; // Agrandir la marge intérieure
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    .editable {
        position: relative;
    
        input {
            padding: 8px; // Agrandir la marge intérieure
            margin-right: 5px;
        }
    
        .action-button {
            margin-right: 15px; // Agrandir la marge intérieure
            cursor: pointer;
            font-size: 35px; // Augmenter la taille de la police
            vertical-align: middle; // Ajouter cette ligne pour ajuster la vertical-align
    
            &.save-button {
                color: #28a745; // vert
            }
    
            &.cancel-button {
                color: #dc3545; // rouge
            }
        }
    }
    .color-box {
        width: 30px; // Agrandir la largeur
        height: 30px; // Agrandir la hauteur
    }

    .visibility-checkbox {
        margin: 0;
        transform: scale(1.5); // Augmenter la taille de la checkbox
    }
}

